.about-me-skills-container {
    border-radius: 50%;
}

.center-text {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.center-text .fill{
    
    background: linear-gradient(to right, #ff99cc, #ffff99);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.profile .fill {
    background: linear-gradient(to right, #ff99cc, #ffff99);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

}
.skills .fill {
    background: linear-gradient(to right, #ff99cc, #ffff99);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
.center-text h3 {
    font-size: 3rem;
    font-weight: 400;
}
.center-text h1 {
    font-size: 4rem;
    font-weight: 900;
}
.center-text p {
    font-size: 1.5rem;
}

.profile-skills {
    min-height: 300px; /* Ensure a minimum height */
    border: 1px solid #ccc;
    width: 100%;
    padding: 0;
    border-radius: 10px;
}

@media (max-width: 3000px) {
    .profile-skills {
        flex-wrap: nowrap;
    }
}

@media (max-width: 1200px) {
    .profile-skills {
        flex-wrap: nowrap;
    }
}

@media (max-width: 900) {
    .profile-skills {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .profile-skills {
        flex-wrap: wrap;
    }
}

.profile {
    line-height: 1.9;
    font-size: 17px;
}

.profile, .skills {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.skills ul {
    list-style: none;
    width: 100%;
}
.skills {
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about-actions-buttons {
    padding: 0;
}

.skills li {
    margin: 20px 0;
    padding: 10px;
}
.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%,rgba(252,103,103,1)100%);
}
.html {
    width: 90%;
    animation: html 3s;
}
.css {
    width: 70%;
    animation: html 3s;
}
.javascript {
    width: 50%;
    animation: html 3s;
}
.mongodb {
    width: 60%;
    animation: html 3s;
}
.c-sharp {
    width: 90%;
    animation: html 3s;
}

.content {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.btn-container {
    margin-top: 20px;
}

.btn-custom {
    flex: 1;
    margin: 5px;
    padding: 10px;
    text-align: center;

    background-image: linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
    );
    color: #fff; 
    border: 2px solid transparent; 
    border-radius: 5rem;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
}
@keyframes gradient_301 {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
.btn-custom:hover {
    transform: none;
}